.education-section {
    display: flex;
    flex-direction: column;
    border-bottom: 0.5px solid black;
    padding-bottom: 10px;
    margin: 20px 0;
}

.education-section-title {
    font-size: 1.5rem;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
}

.education-title-border {
    border: 0.5px solid black;
    padding: 10px;
    border-radius: 10px;
}

.education-entry {
    --line-padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "info description";
    margin: 20px 0;
}

.education-info {
    grid-area: info;
    border-right: 0.5px solid black;
    padding-right: var(--line-padding);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.school-name {
    font-size: 1.2rem;
}

.school-dates,
.description-label {
    font-size: 0.9rem;
    font-weight: 200;
    letter-spacing: 1px;
}

.school-degree {
    font-weight: 350;
}

.education-description {
    text-align: left;
    padding-left: var(--line-padding);
    grid-area: description;
}

.description-label {
    font-style: italic;
}

.description-text {
    line-height: 1.2;
    font-weight: 350;
}