footer.copyright {
    margin-top: auto;
    padding-top: 10px;
    border-top: 1px dashed black;
    height: 5vh;
    min-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 200;
}