.general-info {
    min-height: 150px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1.5fr 1fr repeat(3, 0.5fr);
    grid-template-areas: 
        "name edit"
        "one-liner one-liner"
        "location ."
        "email ."
        "phone .";
    border-bottom: 0.5px solid black;
    padding-bottom: 20px;
}

.edit-general {
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 300;
    grid-area: edit;
    justify-self: end;
    align-self: end;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.name {
    grid-area: name;
    font-size: 1.5rem;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.name-border {
    border: 0.5px solid black;
    padding: 10px;
    border-radius: 10px;
}

.one-liner {
    max-width: 70%;
    padding: 5px 0 10px;
    grid-area: one-liner;
    display: flex;
    align-items: center;
}

.location,
.email,
.phone {
    font-weight: 200;
}

.location {
    grid-area: location;
}

.email {
    grid-area: email;
}

.phone {
    grid-area: phone;
}

.headshot-container {
    grid-area: headshot;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.headshot-img {
    max-height: 70%;
    width: auto;
    border: 0.5px solid black;
    border-radius: 50%;
}

/* editing styles: */
.editing-general-info {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(255, 228, 179, 0.775);
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
}

.editing-general-info input,
.editing-general-info textarea {
    width: 85%;
}

.editing-general-info .item-edits {
    height: 30px;
}

.editing-general-info .edits-label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.editing-general-info .one-liner-edits {
    height: 60px;
}

.edit-general-label {
    font-size: 1.3rem;
    grid-area: edit-general-label;
    font-weight: 200;
    text-decoration: underline;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.save-general-edits {
    align-self: center;
    margin-bottom: 0;
}
