.general-info {
    min-height: 150px;
    height: 15vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr repeat(3, 0.5fr);
    grid-template-areas: 
        "name edit"
        "one-liner one-liner"
        "location ."
        "email ."
        "phone .";
    border-bottom: 0.5px solid black;
    padding-bottom: 20px;
}

.edit-general {
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 300;
    grid-area: edit;
    justify-self: end;
    align-self: end;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.name {
    grid-area: name;
    font-size: 1.5rem;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.name-border {
    border: 0.5px solid black;
    padding: 10px;
    border-radius: 10px;
}

.one-liner {
    grid-area: one-liner;
    display: flex;
    align-items: center;
}

.location,
.email,
.phone {
    font-weight: 200;
}

.location {
    grid-area: location;
}

.email {
    grid-area: email;
}

.phone {
    grid-area: phone;
}

.headshot-container {
    grid-area: headshot;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.headshot-img {
    max-height: 70%;
    width: auto;
    border: 0.5px solid black;
    border-radius: 50%;
}